{% load static %}
<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Choose Your Course</h2>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="{% static  '/assets/images/courses-01.jpg' %}" alt="Course #1">

                    <div class="down-content">
                        <h4>DELF/DALF Preparation</h4>
                        <p>
                            Prepare for the official French language exams (DELF/DALF) at various levels, from A1 to C2
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-01.png" alt="Author 1">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/courses-02.jpg" alt="Course #2">
                    <div class="down-content">
                        <h4>Conversational French</h4>
                        <p>
                            Focus on fluency and real-life conversation practice to become comfortable in everyday
                            interactions,
                            tailored to your level.
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-02.png" alt="Author 2">
                        </div> -->
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/a1.jpg" alt="Course #3">
                    <div class="down-content">
                        <h4>A1 – Beginner French</h4>
                        <p>
                            Start your journey with the fundamentals of French grammar, vocabulary, and pronunciation.
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-03.png" alt="Author 3">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/courses-04.jpg" alt="Course #4">
                    <div class="down-content">
                        <h4>A2 – Elementary French</h4>
                        <p>
                            Build on your basics with simple sentences, essential grammar, and basic conversation
                            skills.
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-04.png" alt="Author 4">
                        </div> -->
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/courses-05.jpg" alt="">
                    <div class="down-content">
                        <h4>B1 – Intermediate French</h4>
                        <p>
                            Gain confidence in everyday conversations, expand your vocabulary,
                            and understand more complex grammar
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-05.png" alt="">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/courses-01.jpg" alt="">
                    <div class="down-content">
                        <h4>B2 – Upper-Intermediate French</h4>
                        <p>
                            Master the language with more detailed grammar, expanded vocabulary, and fluid communication
                            in various contexts.
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-01.png" alt="">
                        </div> -->
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/courses-02.jpg" alt="">
                    <div class="down-content">
                        <h4>C1 – Advanced French</h4>
                        <p>
                            Achieve proficiency with high-level grammar, idiomatic expressions,
                            and the ability to discuss complex topics with ease
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-02.png" alt="">
                        </div> -->
                        <div class="text-button-free">
                            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/assets/images/courses-03.jpg" alt="">
                    <div class="down-content">
                        <h4>C2 – Proficient French</h4>
                        <p>
                            Master the language to a native level, perfecting your writing, speaking, and comprehension
                            in all forms of communication.
                        </p>
                        <!-- <div class="author-image">
                            <img src="/static/assets/images/author-03.png" alt="">
                        </div> -->
                        <div class="text-button-pay">
                            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>